* {
    margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
    display: flex;
    background-image: url('../img/fondo.jpg');
	background-size: cover;
    font-family: Aclonica;
}

main {
    width: 60%;
    padding-left: 1vw;
}

aside {
    margin: 0 auto;
    width: 30%;
    background-color: white;
    opacity: 0.85;
}

table {
    /*margin: 0 auto;*/
    margin-top: 2.5%;
    width: 100%;
    text-align: center;
}

.celda_ruleta {
    background-color: green;
    margin: 15%;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
}

.celda_ruleta-disabled {
	background-color: #aaa;
    margin: 15%;
    font-size: 2.5vw;
    font-weight: bold;
    color: black;
}

.celda_ruleta:hover {
    background-color: yellow;
}

.rojo {
    color: red;
}

.negro {
    color: black;
}

#panel_jugador {
    margin: 1vw auto;
    width: 90%;
    text-align: center;
}

#apuestas_jugador span img {
	padding-top: 1vw;
    width: 2.5vw;
}

#datos_jugador {
    padding-top: 1vw;
    font-size: 1.5vw;
    text-align: left;
}

#controles_juego {
    padding-top: 2vw;
    text-align: center;
}

#ruleta {
	padding-bottom: 1.5vw;
}

#marcador_ruleta {
    width: 40%;
    text-align: center;
    color: white;
    font-size: 3vw;
    box-shadow: 6px 6px 5px 0 rgba(0,0,0,0.4);
}

.fondo_rojo {
	background-color: red;
}

.fondo_negro {
	background-color: black;
}

.fondo_verde {
	background-color: green;
}

#apuestas {
	display: block;
	border: 2px solid #BDBDBD;
	margin-top: 1vw;
}

.apuesta {
	width: 90%;
	margin: 0 auto;
	margin-top: 2vw;
	margin-bottom: 2vw;
	border: 1px solid #E6E6E6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 4px 5px 5px 0px rgba(50, 50, 50, 0.32);
	-moz-box-shadow:    4px 5px 5px 0px rgba(50, 50, 50, 0.32);
	box-shadow:         4px 5px 5px 0px rgba(50, 50, 50, 0.32);
}

.cabecera_apuesta {
	width: 100%;
	color: white;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.suerte_sencilla {
	background-color: #58ACFA;
}

.docenas {
	background-color: #FF8000;
}

.pleno {
	background-color: red;
}

.descripcion_apuesta {
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
	padding-left: 4%;
	padding-right: 4%;
	text-align: left;
	font-size: 1.4vw;
	font-family: serif;
}

.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
    box-shadow: 6px 6px 5px 0 rgba(0,0,0,0.4);
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}

.myButton:active {
	position:relative;
	top:1px;
}

.boton-disabled {
	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bbb), color-stop(1, #aaa) );
    background:-moz-linear-gradient( center top, #bbb 5%, #aaa 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#aaa;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	font-family:Arial Black;
    color:#333333;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:1px 3px 0px #ccc;
    box-shadow: 6px 6px 5px 0 rgba(0,0,0,0.4);
}